@font-face {
    font-family: "Montserrat";
    src: url(fonts/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-bold";
    src: url(fonts/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-Thin.ttf);
}
